* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

/**
  |============================
  | STYLE - TASK-1
  |============================
*/
.styles-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 52px 40px;
}
.start-btm {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.start-btm:hover {
  transform: scale(1.05);
  background-color: #45a049;
}

.start-button:active {
  transform: scale(0.95);
}
.stop-btm {
  padding: 10px 20px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.stop-btm:hover {
  transform: scale(1.05);
  background-color: #c64133;
}

.stop-btm:active {
  transform: scale(0.95);
}

/**
  |============================
  | STYLE TASK - 2
  |============================
*/
input#datetime-picker {
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: #f0f0f0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

/* Стилі для кнопки "Start" */
button[data-start] {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Стилі для таймера */
.timer {
  text-align: center;
  margin-top: 20px;
}

.field {
  display: inline-block;
  margin: 30px;
  border-radius: 5px;
  text-align: center;
}

.value {
  font-size: 24px;
}

.label {
  font-size: 16px;
  color: rgba(30, 37, 43, 0.5);
}
